<div class='comment'>
  <h4><a class='user-name' href="/user/<%= comment.user.id%>"><%= comment.user.name %></a></h4>
   <span><%= comment.votes.count %> points</span>
  <form action='/comment/upvote/<%=comment.id%>' method='post'><input type='submit' value='Upvote'></form>
  <p><%=comment.content%><p>
  <a class='reply' href='/reply/<%=comment.id%>'>Reply</a>
  <% comment.replies.each do |reply| %>
    <%= erb :_comment, layout: false, locals: {comment: reply} %>
  <% end %>
</div>


