<ol>
  <% @posts.each do |post| %>
    <li>
      <p><a target="_blank" href='<%=post.url%>'><%=post.title%></a>, <%= post.short_url %></p>
      <p><a href='/user/<%=post.user.id%>'><%=post.user.name%></a>, <a href="/post/<%= post.id %>"><%=post.comments.count%> comments</a></p>
      <span><%= post.votes.count %> points</span>
    </li>
  <% end %>
</ol>

