<div>
  <% if logged_in? && @post.user.id == current_user.id %> 
    <form action="/post/delete/<%= @post.id%>" method='POST'>
      <input type='submit' value='Delete Post'> 
    </form>
    <form action="/post/edit/<%= @post.id%>" method='GET'>
      <input type='submit' value='Edit Post'> 
    </form>
  <% end %> 

  <p><a href='<%=@post.url%>'><%=@post.title%></a>, <%= @post.short_url %></p>
  <p><a href='/user/<%=@post.user.id%>'><%=@post.user.name%></a>, <a href="/post/<%= @post.id %>"><%=@post.comments.count%> comments</a></p>
  <span class='count'><%= @post.votes.count %></span><span> points</span>
  <form class='upvote' action='/post/upvote/<%=@post.id%>' method='post'><input type='submit' value='Upvote'></form>
  <form action='/post/<%=@post.id%>/comment' method='POST'> 
    <textarea name='comment[content]' rows='10' cols='40' placeholder='Your Comment'></textarea>
    <input type="submit" value='add comment'  >   
  </form>
</div>
<div class='comments'>
  <% @post.comments.where('parent_id IS NULL').each do |comment| %>
    <%= erb :_comment, layout: false, locals: {comment: comment} %>
  <% end %>
</div>
