<h2><%= @user.name %></h2>
<h4>User since <%= @user.created_at.strftime("%B %d, %Y") %></h4>

<h3>most recent posts</h3>
<% @user.posts.order("created_at DESC").limit(5).each do |post| %> 
<div class='user-post'> 
<h4> <a href="/post/<%= post.id %>"><%= post.title %></a>, <%= post.created_at.strftime("%B %d, %Y") %></h4> 
<p><%= post.title %></p>
</div>
<% end %>

<h3>most recent comments</h3>
<% @user.comments.order("created_at DESC").limit(5).each do |comment| %> 
<div class='user-comment'> 
<h4> <a href="/post/<%= comment.post.id %>"><%= comment.post.title %></a>, <%= comment.created_at.strftime("%B %d, %Y") %></h4> 
<p><%= comment.content %></p>
</div>
<% end %>
